/*main.css*/
body {
	font: small-caps;
}

h1 {

font-weight:bold;color:#000000;letter-spacing:-2pt;word-spacing:7pt;font-size:63px;text-align:left;font-family:lucida sans unicode, lucida grande, sans-serif;line-height:1;
}
